/* @tailwind base;
@tailwind components;
@tailwind utilities; */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.Box {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #17153B 50%, #2E236C 50%);

    display: flex;
    align-items: center;
    justify-content: center;

}




h1 {
    font-size: 90px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    /* margin-top: 200px; */

}

h1 {
    animation: zoomIn 2s ease-in-out forwards;
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  